body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    height: 100px;
}
nav a{
    text-decoration: none;
    color:rgb(49, 88, 143);
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &:hover{
        color: cadetblue;
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 10px;
    background-color: rgba(241, 240, 237, 500);
    position: fixed;
    width: 100%;
}
.home{
    background-image: url("bg.png");
    height: 700px;
    background-size: cover;
    padding-top: 100px;
}
.deschome{
    width: 30%;
    font-size: 20px;
    margin-left: 30px;
}

.about{
    height: 800px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 100%, rgba(252, 139, 59, 1) 70%, rgba(252, 176, 69, 1) 100%);
    color: black;
}

.containerAbout{
    background: radial-gradient(circle,rgba(0, 255, 217, 1) 0%, rgba(222, 233, 148, 1) 100%);
    width: 50%;
    margin-left: 25%;
    text-align: center;
    height: 100%;
    padding: 50px;
}
.containerAbout img{
    height: 200px;
}
.deschome a{
    text-decoration: rgb(255, 255, 255);
    color: white;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(8, 8, 110, 1) 0%, rgba(28, 28, 163, 1) 0%, rgba(0, 212, 255, 1) 100%);
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px -2px black;
}
html{
    color: black;
}
.deschome a:hover{
    box-shadow: 5px 5px 10px -2px rgba (0, 0, 0, 0.747);
    padding: 11px 31px
    
}
.cardProfile{
    background-color: gray;
    padding: 15px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.imgProfile img{
     width : 100%;
}

img{
    width: 15%;
    height: auto;
}


.medsos{
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    padding-top: 5px;
}

.medsos a{
    text-decoration: none;
    padding: 10px 10px;
    font-size: 24px;
}
