body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    height: 100px;
}
nav a{
    text-decoration: none;
    color:rgb(49, 88, 143);
    font-size: 16px;
    padding: 5px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    &:hover{
        color: cadetblue;
    }
}
header{
    text-align: center;
    box-shadow: 0px 0px 10px;
    background-color: rgb(241, 240, 237);
}
nav{
    padding: 10px;
}