body{
    margin: 0;
}
.container{
    background-image: url("salju.jpg");
    height: 600px;
    width: 100%;
}
.container div{
    background-image: url("slju.png");
    background-size: cover;
    position: absolute;
    height: 200px;
    width: 200px;
}
.container div:nth-child(1){
    left:5%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(2){
    left:50%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(3){
    left:90%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(4){
    left:70%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(5){
    left:34%;
    animation: animasi 7s infinite linear;
}
.container div:nth-child(6){
    left:1%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(7){
    left:2%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(8){
    left:24%;
    animation: animasi 8s infinite linear;
}
.container div:nth-child(9){
    left:11%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(10){
    left:10%;
    animation: animasi 9s infinite linear;
}
.container div:nth-child(11){
    left:9%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(12){
    left:46%;
    animation: animasi 8s infinite linear;
}
.container div:nth-child(13){
    left:87%;
    animation: animasi 1s infinite linear;
}
.container div:nth-child(14){
    left:32%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(15){
    left:89%;
    animation: animasi 7s infinite linear;
}
.container div:nth-child(16){
    left:65%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(17){
    left:31%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(18){
    left:85%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(19){
    left:21%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(20){
    left:24%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(21){
    left:67%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(22){
    left:16%;
    animation: animasi 10s infinite linear;
}
.container div:nth-child(23){
    left:89%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(24){
    left:12%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(25){
    left:23%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(26){
    left:120%;
    animation: animasi 9s infinite linear;
}
.container div:nth-child(27){
    left:89%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(28){
    left:87%;
    animation: animasi 9s infinite linear;
}
.container div:nth-child(29){
    left:70%;
    animation: animasi 6s infinite linear;
}
.container div:nth-child(30){
    left:80%;
    animation: animasi 2s infinite linear;
}

@keyframes animasi {
    0%{
        transform: translateY(0px) scale(50%);
    }
    100%{
        transform: translateY(500px) scale(42%);
    }
}
